.options {
	min-height: 100vh;
	max-width: 100%;
	background: var(--options-background-color);
	color: var(--color);
	overflow: hidden;

	.container {
		width: 50%;
	}

	.options__head {
		background: var(--accent);
		box-shadow: var(--card-shadow);

		.brand-logo {
			text-shadow: 2px 2px #000000;
			font-weight: 700;
		}
	}

	.options__body {
		.card {
			background: var(--background-color);
			box-shadow: var(--card-shadow);
		}

		.card-title {
			font-weight: 600;
			color: var(--color);

			i {
				font-family: fa;
			}
		}

		.dropdown-content {
			color: var(--color);
			background-color: var(--background-color);
			box-shadow: var(--card-shadow);

			li {
				&:focus {
					span {
						color: #3f3f3f;
					}
				}

				span {
					color: var(--color);
					text-align: center;

					&:hover {
						color: #3f3f3f;
					}
				}
			}
		}

		.row {
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 0;
		}

		.input-field {
			margin: 5px;
			color: var(--color);

			.caret {
				fill: var(--color);
			}

			input {
				text-align: center;
				color: var(--color);
			}
		}

		.accent-collection {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.btn-floating {
				height: 30px;
				width: 30px;
				position: relative;
			}

			.active::after {
				content: '\2714';
				height: 30px;
				width: 30px;
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgba($color: #000000, $alpha: 0.4);
				border: 2px solid #000000;
				border-radius: 50%;
			}
		}

		.range-field {
			position: relative;

			.thumb {
				z-index: 10;
			}

			button {
				height: 1.5rem;
				padding: 5px;
				position: absolute;
				top: 50%;
				right: 0;
				color: var(--opposite-color);
				font-weight: 600;
				background-color: var(--accent);
				border-radius: 10px;
				border: none;
				transform: translate(100%, -50%);
				cursor: pointer;
				visibility: hidden;
			}

			&:hover button {
				visibility: visible;
			}
		}

		.switch {
			label input[type='checkbox']:checked + .lever {
				background-color: var(--accent);
			}
			label input[type='checkbox']:checked + .lever:after {
				background-color: #f1f1f1;
			}
		}

		.exclusionForm {
			.btn {
				background-color: var(--accent);
				text-shadow: 1px 1px #000000;
			}
		}

		.beta {
			background-color: color('red', 'base');
			border-radius: 10px;
			color: #fff;
			margin: 0 0 0 20px;
			padding: 5px 8px;
			text-shadow: 1px 1px #000000;
		}

		.row.table {
			height: auto;
			width: 100%;
			margin-top: 20px;
			font-size: 1rem;

			.btn,
			.btn-small {
				text-shadow: 1px 1px #000000;
			}

			table {
				width: 100%;
				table-layout: fixed;
				border: 1px solid var(--opposite-color);

				tr {
					border-bottom: 1px solid var(--opposite-color);
				}

				tbody {
					td {
						overflow-x: hidden;
						text-overflow: ellipsis;
					}
				}

				tfoot {
					td {
						padding: 0;
					}
					.btn {
						width: 100%;
						font-weight: 600;
					}
				}
			}
		}
	}
}
