.options {
	min-height: 100vh;
	max-width: 100%;
	background: var(--options-background-color);
	color: var(--color);
	overflow: hidden;

	.container {
		width: 50%;
	}
	.options__head {
		box-shadow: var(--card-shadow);

		.brand-logo {
			font-weight: 700;
		}
	}

	.options__body {
		.card {
			background: var(--background-color);
			box-shadow: var(--card-shadow);
		}

		.card-title {
			font-weight: 600;
			color: var(--color);

			i {
				font-family: fa;
			}
		}

		// ! Solve Keyboard Focus Bug
		.dropdown-content {
			color: var(--color);
			background-color: var(--background-color);
			box-shadow: var(--card-shadow);

			li {
				&:focus {
					span {
						color: #3f3f3f;
					}
				}

				span {
					color: var(--color);
					text-align: center;

					&:hover {
						color: #3f3f3f;
					}
				}
			}
		}

		.row {
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 0;
		}

		.input-field {
			margin: 5px;
			color: var(--color);

			.caret {
				fill: var(--color);
			}

			input {
				text-align: center;
				color: var(--color);
			}
		}

		.accent-collection {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.btn-floating {
				height: 30px;
				width: 30px;
				position: relative;
			}

			.active::after {
				content: '\2714';
				height: 30px;
				width: 30px;
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgba($color: #000000, $alpha: 0.4);
				border: 2px solid #000000;
				border-radius: 50%;
			}
		}

		.switch {
			label input[type='checkbox']:checked + .lever {
				background-color: var(--accent);
			}
			label input[type='checkbox']:checked + .lever:after {
				background-color: #f1f1f1;
			}
		}

		.row.table {
			height: auto;
			margin-top: 20px;
			font-size: 1rem;

			table {
				border: 1px solid var(--opposite-color);

				tr {
					border-bottom: 1px solid var(--opposite-color);
				}

				.excluded-url {
					max-width: 60%;
					overflow: hidden;
				}
			}
		}
	}
}
