.popup {
	height: var(--popup-height);
	width: var(--popup-width);
	background: var(--background-color);
	border: 1px solid #7d7d7d;
	color: var(--color);
	overflow: hidden;

	.popup__head {
		height: var(--navbar-height);
		width: 100%;
		position: relative;
		z-index: 10;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		align-content: center;

		.brand {
			font-size: 1.4rem;
			font-weight: 600;
			text-shadow: 1px 1px #000000;
			padding: 0 1rem;
			color: #fff;
			white-space: nowrap;
			transition: all 0.25s ease 0;
			user-select: none;
			cursor: default;
			margin: 0;
			text-decoration: none;
		}

		.input {
			height: 100%;
			width: 3rem;
			font-size: 1.5rem;
			padding: 0 10px;
			font-family: fa;
			box-sizing: border-box;
			margin: 0;
			border: 0;
			transition: all 0.25s ease;
			position: absolute;
			cursor: pointer;
			top: 0;
			right: 0;
			color: var(--color);

			&::placeholder {
				text-align: center;
				font-size: 1.5rem;
				color: #fff;
			}

			&:focus {
				width: 100%;
				background-color: var(--background-color);

				+ .brand {
					visibility: hidden;
					opacity: 0;
					width: 0px;
					padding: 0;
				}

				&::placeholder {
					color: #c4c4c4;
				}
			}
		}
	}

	.popup__body {
		height: var(--body-height);
		width: 100%;
		overflow: auto;
		box-sizing: border-box;

		// Main

		.collection {
			margin: 0;
			border: 0;
			box-sizing: border-box;

			.link {
				display: flex;
				align-items: center;
			}
		}

		.collection-item {
			min-height: var(--list-item-height);
			display: flex;
			align-items: center;
			justify-content: space-between;
			box-sizing: border-box;
			padding: 0 45px 0 45px;
			background: var(--background-color);
			transition: all 0.25s ease;
			animation: listAnim 0.25s ease forwards;
			transform-origin: top;
			opacity: 0;

			&:hover {
				background: var(--options-background-color);
				border-left: 5px solid var(--accent);
			}

			&:last-child {
				border-bottom: 1px solid #e0e0e0;
			}

			// Loop for animation delay
			@for $i from 1 through 100 {
				&:nth-child(#{$i}n) {
					animation-delay: #{$i * 0.035}s;
				}
			}
		}

		.circle {
			max-height: 16px;
			max-width: 16px;
			background-color: white;
		}

		.title-url-container {
			overflow: hidden;

			.title {
				color: var(--opposite-color);
				width: 250px;
				width: calc(var(--popup-width) - 100px);
			}

			.url {
				color: color('grey', 'base');
				width: 250px;
				width: calc(var(--popup-width) - 45px - 13ch);
			}
		}

		.secondary-content.delete-btn {
			font-size: 1rem;
			background: transparent;
			border: none;
			cursor: pointer;
			top: 8px;
			right: 8px;
			color: color('red', 'lighten-1');
			font-family: fa;
		}

		.secondary-content.time {
			height: 1rem;
			border: none;
			top: auto;
			bottom: 8px;
			right: 8px;
			color: var(--color);
			font-family: fa;
		}

		.no-result-svg {
			height: 200px;
			width: 100%;
		}

		.svg-fill-color {
			fill: var(--accent);
		}

		// Tabs

		.window {
			h6 {
				color: var(--color);
			}

			.btn-small {
				margin-left: 2rem;
				background: var(--accent);
				color: #1d1212;
			}
		}

		.collapsible {
			border-right: none;
			border-left: none;
			margin: 0;
		}

		.collapsible-header {
			display: flex;
			align-items: center;

			.caret {
				margin: 0 0 0 0.5rem;
				fill: var(--opposite-color);
			}
		}

		.collapsible-body {
			padding: 0 0 0 3rem;

			.collection-item {
				border-left: 1px solid #e0e0e0;

				&:hover {
					background: var(--options-background-color);
					border-left: 5px solid var(--accent);
				}

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}

	.popup__footer {
		height: var(--footer-height);
		width: 100%;
		box-sizing: border-box;
		position: relative;
		z-index: 10;

		.tabs {
			height: 100%;
			border-top: 1px solid #7d7d7d;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.tab {
			height: 100%;
		}

		.indicator {
			background-color: var(--accent);
		}

		.link {
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: fa;
			font-size: 1.2rem;

			&:focus,
			&:focus.active {
				background-color: transparentize(#e0e0e0, 0.8);
				outline: none;
			}
		}
	}
}
