.popup {
	min-height: 250px;
	max-height: 500px;
	width: 400px;
	background: var(--background-color);
	color: var(--color);
	overflow-y: scroll;
	overflow-x: hidden;

	.loader-container {
		height: 100%;
		width: 100%;
		position: relative;

		.loader {
			display: inline-block;
			position: fixed;
			width: 50%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.popup__head {
		height: var(--navbar-height);
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 10;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		align-content: center;

		.brand {
			font-size: 1.6rem;
			font-weight: 600;
			padding: 0 1rem;
			color: #fff;
			white-space: nowrap;
			transition: all 0.3s ease 0;
			user-select: none;
			cursor: default;
			margin: 0;
			text-decoration: none;
		}

		.input {
			height: 100%;
			width: 3rem;
			font-size: 1.5rem;
			padding: 0 10px;
			font-family: fa;
			box-sizing: border-box;
			margin: 0;
			border: 0;
			transition: all 0.3s ease;
			position: absolute;
			cursor: pointer;
			top: 0;
			right: 0;
			color: var(--color);

			&::placeholder {
				text-align: center;
				font-size: 1.5rem;
				color: #fff;
			}

			&:focus {
				width: 100%;
				background-color: var(--background-color);

				+ .brand {
					visibility: hidden;
					opacity: 0;
					width: 0px;
					padding: 0;
				}

				&::placeholder {
					color: #c4c4c4;
				}
			}
		}
	}

	.modal {
		background: var(--background-color);
		color: var(--color);

		.modal-footer {
			background: var(--background-color);
			color: var(--color);

			a {
				margin: 0 0.5rem;
			}
		}
	}

	.modal-overlay {
		background: var(--opposite-color);
	}

	.popup__body {
		margin-top: var(--navbar-height);

		.collection {
			margin: 0;

			.link {
				display: flex;
				align-items: center;
			}
		}

		.collection-item {
			min-height: var(--navbar-height);
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 20px 0 45px;
			background: var(--background-color);
		}

		.circle {
			max-height: 16px;
			max-width: 16px;
		}

		.title {
			color: var(--opposite-color);
			width: 300px;
		}

		.url {
			color: color('grey', 'base');
			width: 250px;
		}

		.secondary-content.delete-btn {
			font-size: 1rem;
			background: transparent;
			border: none;
			cursor: pointer;
			top: 8px;
			right: 8px;
			color: color('red', 'lighten-1');
			font-family: fa;
		}

		.secondary-content.time {
			height: 1rem;
			border: none;
			top: auto;
			bottom: 8px;
			right: 8px;
			color: var(--color);
			font-family: fa;
		}
		.no-result-svg {
			height: 200px;
			width: 100%;
		}

		.svg-fill-color {
			fill: var(--accent);
		}
	}
}
